# தமிழ்க் கல்வி அகராதி  
### தமிழாட்சியல்  
-   கட்டுப்பாடு
-  கட்டுப்படுத்து
-  அடக்கி ஆள்
  
### உழவு  
-   கட்டுப்பாட்டு
  
### வங்கியியல்  
-  over company
-   நிறும ஆதிக்கம்
  
### வேதியியல்  
-   கட்டுப்பாடு
  
### பொறியியல் தொழில்நுட்பம்  
-   கட்டுப்பாடு
  
### வனவியல்  
-   (தீக்)கட்டுப்பாடு
  
### மனையியல்  
-   கட்டுப்பாடு
  
### மனையியல்  
-   கட்டுப்படுத்து
  
### தகவல் தொழில்நுட்பம்  
-   கட்டுப்படுத்து
-  கட்டுப்பாடு
  
### தகவல் தொழில்நுட்பம்  
-  change of
-   கட்டுப்பாட்டு மாற்றம்
  
### தகவல் தொழில்நுட்பம்  
-  inventory
-   இருப்புக் கட்டுப்பாடு
  
### தகவல் தொழில்நுட்பம்  
-  total
-   முழுக் கட்டுப்பாடு
  
### கணிதம்  
-   கட்டுப்பாடு
  
### உளவியல்  
-   கட்டுப்பாடு
  
