# தனித் தமிழகராதிக் களஞ்சியம்
கணி. கட்டுப்பாடு  
## பெயர் 
 கட்டுப்பாடு  
கட்டுப்படுத்தும் ஆற்றல்  
ஆட்சியாற்றல்  
கட்டுப்பாட்டு ஒழுங்கு  
விதி  
ஆட்சி அதிகாரம்  
தலைமையுரிமை  
தடுப்பாற்றல்  
தடுத்து நிறுத்தும் திறம்  
தடுத்தியக்கும் ஆற்றல்  
தடுக்கும் பொருள்  
தடைப்பண்பு  
கட்டுப்படுத்தும் கருவி  
சோதனைக்கருவி  
கட்டுப்பாட்டு நிலையம்  
சோதனை நிலையம்  
கட்டுப்படுத்தும் செயல்  
செய்முறைக்கட்டுப்பாடு  
கட்டளைச சட்டம்  
ஒப்பீடு மதிப்பீட்டுக்குரிய கட்டளை அளவு  
போக்குவரவுக்கட்டுப்பாட்டு விதிகள் செயற்படுவதற்குரிய பாதைப்பகுதி  
போக்குவரவுச் சாதனங்களின் கட்டுமானத் துப்புரவு இடைநிலையம்  
விமான உறுப்புக்களைப் புறநின்றியக்கும் விமானம்  
ஆவியுலக ஊடு ஆள்மூலம் இயக்குவதாகக் கருதப்படும் உடலற்ற ஆவி  
வானுர்தி இயக்கத்தைக் கட்டுப்படுத்தும் நெம்புகோல்  
(## பெயர் 
) கட்டுப்பாட்டைச் சார்ந்த  
(வி.) சட்டுப்படுத்து  
தடுத்து நிறுத்து  
தடுத்தாள்  
இயக்கு  
செயலாட்சி செய்  
அடக்கி ஆள்  
ஆதிக்கம் செலுத்து  
கட்டுப்பாடு  
கட்டுப்படுத்து  
கட்டுப்பாட்டில் வை  
கட்டுக்குள் வை  
பிடித்தல்  
அடைதல்
